body {
    font-size: 20px;
    font-family: "Open Sans", serif;
}

.buttons {
    background-color: #4CAF50;
    border: none;
    color: black;
    padding: 14px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    height:10px     
  }

.top-space-10 {
    margin-top: 10px;
}

.top-space-20 {
    margin-top: 20px;
}

.top-space-30 {
    margin-top: 30px;
}

.bottom-space-40 {
    margin-bottom: 10px;
}

.bottom-space-20 {
    margin-bottom: 20px;
}

