body {
    font-size: 20px;
    font-family: "Open Sans", serif;
}
.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .logoutLblPos {
    position: fixed;
    right: 10px;
    top: 5px;
}

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .glyphicon.glyphicon-menu-hamburger {
      font-size: 25px;
  }
  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  .wrapper {
    position:absolute;
    top:5px;
    right:80px;
  }
.buttons {
    background-color: #4CAF50;
    border: none;
    color: black;
    padding: 14px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    height:10px
  }

.loader {
    visibility: hidden;
    position: absolute;
    left: 45%;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #03a5fc;
    border-bottom: 10px solid #03a5fc;
    width: 90px;
    height: 90px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    }
.labelbold{
    font-weight:bold;
    }
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
    }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }

.modal-megamenu {
    max-height: calc(100vh - 400px);
    overflow-y: auto;
}

.top-space-10 {
    margin-top: 10px;
}

.top-space-20 {
    margin-top: 20px;
}

.top-space-30 {
    margin-top: 30px;
}

.bottom-space-40 {
    margin-bottom: 10px;
}

.bottom-space-20 {
    margin-bottom: 20px;
}
.bs-example {
    margin: 20px;
}
.textarea {
    display: inline
}
.form-display {
    display:flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.form-control{
    width: 45px; /* or whatever width looks good for your purpose */
  }
.drop-down {
    display: inline;
    width:10px;

}
.select
{
    width:80px;
}
href-link { color:blue;}

.link-button {
        background: none!important;
        border: none;
        padding: 0!important;
        color:gray;
        cursor: pointer;
        text-decoration: underline;
    }

label,
    input {
        display: block;
    }

    input.text {
        margin-bottom: 12px;
        width: 95%;
        padding: .4em;
    }

    fieldset {
        padding: 0;
        border: 0;
        margin-top: 25px;
    }

    h1 {
        font-size: 1.2em;
        margin: .6em 0;
    }

    div#users-contain {
        width: 350px;
        margin: 20px 0;
    }

    div#users-contain table {
        margin: 1em 0;
        border-collapse: collapse;
        width: 100%;
    }

    div#users-contain table td,
    div#users-contain table th {
        border: 1px solid #eee;
        padding: .6em 10px;
        text-align: left;
    }

    .ui-dialog  {
        padding: .3em;
    }

    .validateTips {
        border: 1px solid transparent;
        padding: 0.3em;
    }
    .ui-state-error {
        padding: .3em;
    }

    .divtext {
        border: ridge 2px;
        padding: 5px;
        width: 20em;
        min-height: 5em;
        overflow: auto;
    }
    header img {
        float: left;
        width: 80px;
        height: 80px;
        position: relative;
        top: -12px;

    }
    header h1 {
        top: 18px;
        font-size: 30px;
        color: brown;
        text-align: center;
    }
    header {
        min-height: 80px;
    }
    .footer{
        overflow: hidden;
        background-color: #333;
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 27px;
    }
    .footer p {
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 10px 12px;
        text-decoration: none;
        font-size: 17px;
      }
      * {
        box-sizing: border-box;
      }

      body {
        font-family: Arial, Helvetica, sans-serif;
      }
      section {
        max-width: 80%;
        margin-right: auto;
        margin-left: auto;
      }

      /* Create two columns/boxes that floats next to each other */
      nav {
        float: left;
        width: 30%;
        height: 400px; /* only for demonstration, should be removed */
        background: #ccc;
        padding: 20px;
      }
      article {
        float: left;
        padding: 20px;
        width: 70%;
        background-color: #f1f1f1;
        height: 400px; /* only for demonstration, should be removed */
      }
      /* Clear floats after the columns */
      section:after {
        content: "";
        display: table;
        clear: both;
      }
      /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
      @media (max-width: 600px) {
        nav, article {
          width: 100%;
          height: auto;
        }
      }

      .switch {
        position: relative;
        display: inline-block;
        width: 90px;
        height: 34px;
    }

    .switch input {
        display: none;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ca2222;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #2ab934;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(55px);
        -ms-transform: translateX(55px);
        transform: translateX(55px);
    }

    /*------ ADDED CSS ---------*/
    .on {
        display: none;
    }

    .on,
    .off {
        color: white;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        font-size: 10px;
        font-family: Verdana, sans-serif;
    }

    input:checked+.slider .on {
        display: block;
    }

    input:checked+.slider .off {
        display: none;
    }

    /*--------- END --------*/

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

