body {
    font-size: 20px;
    font-family: "Open Sans", serif;
}

.buttons {
    background-color: #4CAF50;
    border: none;
    color: black;
    padding: 14px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    height:10px     
  }

.modal-megamenu {
    max-height: calc(30vh - 20px);
    overflow-y: 10px;
}

.top-space-10 {
    margin-top: 10px;
}

.top-space-20 {
    margin-top: 20px;
}

.top-space-30 {
    margin-top: 30px;
}

.bottom-space-40 {
    margin-bottom: 10px;
}

.bottom-space-20 {
    margin-bottom: 20px;
}
.bs-example {
    margin: 20px;
}
.textarea {
    display: inline
}
label,
    input {
        display: block;
    }

    input.text {
        margin-bottom: 12px;
        width: 95%;
        padding: .4em;
    }

    fieldset {
        padding: 0;
        border: 0;
        margin-top: 25px;
    }

    h1 {
        font-size: 1.2em;
        margin: .6em 0;
    }

    div#users-contain {
        width: 350px;
        margin: 20px 0;
    }

    div#users-contain table {
        margin: 1em 0;
        border-collapse: collapse;
        width: 100%;
    }

    div#users-contain table td,
    div#users-contain table th {
        border: 1px solid #eee;
        padding: .6em 10px;
        text-align: left;
    }

    .ui-dialog .ui-state-error {
        padding: .3em;
    }

    .validateTips {
        border: 1px solid transparent;
        padding: 0.3em;
    }
