<html>

<head>
    <title>
        Add Jobs
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/static/css/qxf2_scheduler.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<body>
    <div class="container col-md-offset-1">
        <div class="row top-space-30">
            <div class="form-group">
                <h2>Add the job role and Interviewers</h2>
                <label class="col-md-4 control-label" for="jobrole">Job role:</label> <input id="role" name="jobrole"
                    type="text" placeholder="QA" class="form-control input-md" required="">

            </div>
        </div>
        <div class="row top-space-30">
            <label class="col-md-4 control-label" for="interviewers">List of Interviewers:</label>
            <input class="input-md" type="text" id="interviewers">

            <input type="hidden" id="TestHidden" value="{{result}}" >
        </div>
        <div calss="row top-space-30">
            <input type="button" id="submit" value="Submit">
        </div>
    </div>
    <script>
        $("#submit").click(function () {
            var jobName = $("#role").val();
            var interviewersList = $("#interviewers").val().split(',');
            interviewersList.pop();
            console.log(interviewersList);
            $.ajax({
                type: 'POST',
                url: '/jobs/add',
                data: {
                    'role': jobName,
                    'interviewerlist': JSON.stringify(interviewersList)
                },
                success: function (result) {
                    alert("The job has been added");
                    document.location.href = "/jobs";
                }
            })
        })
    </script>
    <script>
        $(function () {
            var availableTags = eval(document.getElementById("TestHidden").value);            
            function split(val) {
                return val.split(/,\s*/);
            }
            function extractLast(term) {
                return split(term).pop();
            }

            $("#interviewers")
                // don't navigate away from the field on tab when selecting an item
                .on("keydown", function (event) {
                    if (event.keyCode === $.ui.keyCode.TAB &&
                        $(this).autocomplete("instance").menu.active) {
                        event.preventDefault();
                    }
                })
                .autocomplete({
                    minLength: 0,
                    source: function (request, response) {
                        // delegate back to autocomplete, but extract the last term
                        response($.ui.autocomplete.filter(
                            availableTags, extractLast(request.term)));
                    },
                    focus: function () {
                        // prevent value inserted on focus
                        return false;
                    },
                    select: function (event, ui) {
                        var terms = split(this.value);
                        // remove the current input
                        terms.pop();
                        // add the selected item
                        terms.push(ui.item.value);
                        // add placeholder to get the comma-and-space at the end
                        terms.push("");
                        this.value = terms.join(", ");
                        return false;
                    }
                });
        });
    </script>
</body>

</html>