<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-38578610-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-38578610-13');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add feedback</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/static/css/qxf2_scheduler.css" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <style>
        .bs-example {
            margin: 20px;
        }

        textarea {
            display: inline
        }
    </style>
</head>

<body>
    {% include "logout.html" %}
    <form class="needs-validation">
        <label class="col-md-4 control-label" for="thumbsUp">
            <span style="color:red">*</span>
            What was your opinion about the candidate?
        </label>
        <div class="col-md-4">
            <select id="thumbsUp" style="width:200px; height:30px;">
                <option value="thumbsup">Thumbs Up</option>
                <option value="thumbsdown">Thumbs Down</option>
            </select>
        </div>
        <br>
        <div>
            <h2 class="grey_text text-justify">Add feedback</h2>
            <label class="col-md-4 control-label" for="feedback"><span style="color:red">*</span>Add your
                feedback</label>
            <div class="col-md-4">
                <textarea id="comments" name="comments" rows="10" col="20" class="form-control" required></textarea>

                <div class="valid-feedback">Valid</div>
                <div class="invalid-feedback">Please fill out this field</div>

            </div>
            <div>
                <label class="col-md-4 control-label" for="save"></label>
                <div class="col-md-8">
                    <button class="btn btn-info" id="submit" type="submit">Submit</button>
                    <button type="button" name="clear" onclick="clearAdd()" class="btn btn-danger">Cancel</button>
                </div>
            </div>
            <input type="hidden" id="candidateId" value={{result.candidate_id}}>
            <input type="hidden" id="roundId" value={{result.round_id}}>
        </div>
    </form>
    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        event.preventDefault();
                        event.stopPropagation();
                        if (form.checkValidity() === false) {

                        }
                        else {
                            var dropdownValue = document.getElementById("thumbsUp");
                            var thumbsValue = dropdownValue.options[dropdownValue.selectedIndex].value;
                            var addedFeedback = document.getElementById("comments").value
                            var candidateId = document.getElementById("candidateId").value
                            var roundId = document.getElementById("roundId").value
                            $.ajax({
                                type: 'POST',
                                url: '/candidate/' + candidateId + '/round/' + roundId + '/add_feedback',
                                data: {
                                    'addedfeedback': addedFeedback,
                                    'thumbsvalue': thumbsValue

                                },
                                success: function (result) {
                                    if (result.error == "Success") {
                                        alert("The feedback has been added")
                                        document.location.href = '/candidates'
                                    }
                                }
                            })

                        }
                    }, false);
                });
            }, false);
        })();
    </script>

    <script>
        function clearAdd() {
            document.location.href = "/candidates"
        }
    </script>
</body>

</html>