<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-38578610-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-38578610-13');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add Rounds</title>

    <link href="/static/css/qxf2_scheduler.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <style>
        .bs-example {
            margin: 20px;
        }

        textarea {
            display: inline
        }
    </style>
</head>

<body>
    <div>
        {% include "logout.html" %}
        <h2 class="grey_text text-justify">Add Rounds</h2>
        <form class="needs-validation">
            <label class="col-md-4 control-label" for="rname"><span style="color:red">*</span>Round name</label>
            <div class="col-md-4">

                <input id="rname" name="rname" maxlength="20" type="text" placeholder="John" class="form-control"
                    required>
                <div class="valid-feedback">Valid</div>
                <div class="invalid-feedback">Please fill out this field</div>
            </div>

            <label class="col-md-4 control-label" for="rtime"><span style="color:red">*</span>Round duration</label>
            <div class="col-md-4">
                <select name="Duration" id="rtime" style="width:380px; height:30px;" required>
                    <option value="">Select the time duration</option>
                    <option value="30 minutes">30 minutes</option>
                    <option value="45 minutes">45 minutes</option>
                    <option value="60 minutes">60 minutes</option>
                    <option value="90 minutes">90 minutes</option>

                </select>

                <div class=" col-md-8 row top-space-30" id="resultDiv">
                </div>
                <div class="valid-feedback">Valid</div>
                <div class="invalid-feedback">Please fill out this field</div>
            </div>
            <label class="col-md-4 control-label" for="rdescription"><span style="color:red">*</span>Round
                description</label>
            <div class="col-md-4">
                <textarea name="rdesc" maxlength="500" id="rdesc" style="width:380px; height:300px;"
                    required></textarea>
                <div class=" col-md-8 row top-space-30" id="resultDiv">
                </div>
                <div class="valid-feedback">Valid</div>
                <div class="invalid-feedback">Please fill out this field</div>


            </div>
            <label class="col-md-4 control-label" for="rrequirements"><span style="color:red">*</span>Round
                requirements</label>
            <div class="col-md-4">
                <input id="rreq" name="rreq" type="text" placeholder="Laptop" class="form-control" required>
                <div class=" col-md-8 row top-space-30" id="resultDiv">
                </div>
                <div class="valid-feedback">Valid</div>
                <div class="invalid-feedback">Please fill out this field</div>

            </div>
            </div>
            <label class="col-md-4 control-label" for="addinterviewers"><span style="color:red">*</span>Add interviewers</label>
            <div class="col-md-4">
                <select id="multiSelect" class="js-select2" multiple="multiple" >
                    {% for each_interviewer in interviewers %}

                    <option value="{{each_interviewer.interviewer_id}}" selected="selected" data-badge="">
                        {{each_interviewer.interviewer_name}}</option>
                    {% endfor %}
                    {% for each_interviewer in interviewers_list %}

                    <option value="{{each_interviewer.interviewer_id}}" data-badge="">
                        {{each_interviewer.interviewer_name}}</option>
                    {% endfor %}
                </select>

            </div>

            <input type="hidden" id="jobId" value="{{job_id}}">
            <div class="col-md-8">
                <button class="btn btn-info" id="addRound" type="submit">Add</button>
                <button name="clear" id="cancelRound" type="button" onclick="clearAdd()"
                    class="btn btn-danger">Cancel</button>
            </div>
        </form>
    </div>
    <script>
        function clearAdd() {
            document.location.href = "/jobs"
        }
    </script>
    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        event.preventDefault();
                        event.stopPropagation();
                        $("#resultDiv").empty();
                        if (form.checkValidity() === true) {
                            var roundName = $("#rname").val();
                            var roundDescription = $("#rdesc").val();
                            var roundRequirements = $("#rreq").val();
                            var dropdownValue = document.getElementById("rtime");
                            var roundTime = dropdownValue.options[dropdownValue.selectedIndex].value;
                            var jobId = document.getElementById("jobId").value;
                            $("#addRound").attr("disabled", true);

                            var addedInterviewers = $("#multiSelect").val();
                            $.ajax({
                                type: 'POST',
                                url: '/jobs/' + jobId + '/round/add',
                                data: {
                                    'roundName': roundName,
                                    'roundTime': roundTime,
                                    'roundDescription': roundDescription,
                                    'roundRequirements': roundRequirements,
                                    'addedInterviewers':addedInterviewers
                                },
                                success: function (result) {
                                    alert("The round has been added");
                                    document.location.href = "/job/" + jobId + '/rounds';
                                },

                            })
                        }
                    },


                        false);
                });
            }, false);
        })();
    </script>
     <script>
        $(".js-select2").select2({
           closeOnSelect : false,
           placeholder : "Add interviewers",
           allowHtml: true,
           allowClear: true,
           tags: true
       });

           $('.icons_select2').select2({
               width: "100%",
               templateSelection: iformat,
               templateResult: iformat,
               allowHtml: true,
               placeholder: "Add Interviewers",
               dropdownParent: $( '.select-icon' ),
               allowClear: true,
               multiple: false
           });


               function iformat(icon, badge,) {
                   var originalOption = icon.element;
                   var originalOptionBadge = $(originalOption).data('badge');
                   console.log(originalOption)
                   return $('<span><i class="fa ' + $(originalOption).data('icon') + '"></i> ' + icon.text + '<span class="badge">' + originalOptionBadge + '</span></span>');
               }
     </script>

</body>

</html>