<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Edit Interviewers</title>
    <link href="/static/css/qxf2_scheduler.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".show-modal").click(function () {
                $("#myModal").modal({
                    backdrop: 'static',
                    keyboard: false
                });
            });
        });
    </script>
    </script>

</head>

<body>
    {% include "logout.html" %}
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Success:</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="redirectNew()"
                        data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bs-example">
        <form class="form-horizontal">
            <!-- Form Name -->
            <h2 class="grey_text text-justify">Edit Interviewers</h2>
            <!-- Text input-->
            {% for each_details in result %}
            <div class="form-group">
                <label class="col-md-4 control-label" for="fname"><span style="color:red">*</span>First Name</label>
                <div class="col-md-4">
                    <input id="fname" name="fname" type="text" placeholder="John" class="form-control input-md"
                        value="{{each_details['interviewers_name']}}" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="email"><span style="color:red">*</span>Email</label>
                <div class="col-md-4">
                    <input id="email" name="email" type="text" placeholder="johndoe@example.com"
                        value="{{each_details['interviewers_email']}}" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="designation"><span style="color:red">*</span>Designation</label>
                <div class="col-md-4">
                    <input id="designation" name="designation" type="text" placeholder="QA"
                        value="{{each_details['interviewers_designation']}}" class="form-control input-md" required="">

                </div>
            </div>
        </form>
        <form class="form-inline">
            <table id="timeTable">
                {% for each_slot in each_details['time'] %}
                <tr id="time-slot-{{loop.index}}">
                    <td>
                        <label class="col-md-10 control-label" for="starttime"><span style="color:red">*</span>Start&nbsp;time</label>
                    </td>
                    <td>
                        <input type="time" class="form-control bfh-timepicker input-md" id="starttime{{loop.index}}"
                            placeholder="starttime" value="{{each_slot['starttime']}}" required="">


                    </td>
                    <td>
                        <label class="col-md-10 control-label" for="endtime"><span style="color:red">*</span>End&nbsp;time</label>
                    </td>
                    <td>
                        <input type="time" class="form-control bfh-timepicker input-md" id="endtime{{loop.index}}"
                            value="{{each_slot['endtime']}}" placeholder="endtime" required="">
                    </td>
                    <td>
                        {% if loop.index != 1 %}
                        <input type="button" value="Remove" onclick="removeButton({{loop.index}})" class="btn btn-link">
                        {% endif %}
                    </td>
                    
                    <td><div id="resultDiv{{loop.index}}"></div></td>
                </tr>
                <br />
                {% endfor %}

                <tr>
                    <td>
                        {% set counter = each_details['time'] | length %}
                        <input type="hidden" id="TestHidden" value="{{counter}}"> </td>
                </tr>
            </table>
        </form>
        <div>
            <input class="btn btn-link" onclick="addtextbox()" type="button" value="Add">
        </div>
        <div id="ToolsGroup">
        </div>
        

    <!-- Button (Double) -->
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-md-4 control-label" for="save"></label>
            <div class="col-md-8">
                <input class="btn btn-success show-modal" type='button' id='submit' value='Save'>
                <input type='button' id="clear" value='Cancel' onclick="redirectNew()" class="btn btn-danger">
            </div>
        </div>
    </form>
    </form>
    {% endfor %}

    </div>
    <script>
        timeObject = {
            starttime: [],
            endtime: []
        };
        $("#submit").click(function () {
            var id = $("#intid").val();
            var email = $("#email").val();
            var name = $("#fname").val();
            var designation = $("#designation").val();
            var timeSlotTable = document.getElementById("timeTable");
            var count = timeSlotTable.rows.length;
            validValue = true;
            for (var index = 1; index <= count; index++) {
                var starttimeVal = $("#starttime" + index).val();
                if (starttimeVal != undefined) {
                    timeObject.starttime.push($("#starttime" + index).val())
                    timeObject.endtime.push($("#endtime" + index).val())
                }
            }
            for (var index = 0; index <= 15; index++) {
                if(document.getElementById("dstarttime"+index)==null)
                {
                    break;
                }
                var starttimeVal = $("#dstarttime" + index).val();
                if (starttimeVal != undefined) {
                    timeObject.starttime.push($("#dstarttime" + index).val())
                    timeObject.endtime.push($("#dendtime" + index).val())
                }
            }
            console.log(timeObject);
            //validation starts from here
            if(name == "")
            {
                $('#name').remove();
                $('#fname').after('<span id="name" class="error" style="color:red">Name field is required</span>');
                validValue = false;
            }
            if(name != "")
            {
                $('#name').remove();
                validValue &= true;
            }
            if (email == "")
            {
                $('#mail').remove();
                $('#email').after('<span id="mail" class="error" style="color:red">Email field is required</span>');
                validValue = false;
            }
            if(email != "")
            {   
                 if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email))
                {
                    $('#mail').remove();
                    validValue &= true;
                }
                else
                {
                $('#mail').remove();
                $('#email').after('<span id="mail" class="error" style="color:red">Please enter a valid email address</span>');
                validValue = false;
                }
            }
            //validation for timings
            for(index = 0; index <= count; index++) {
            starttime = $("#starttime"+index).val();
            endtime = $("#endtime"+index).val();
            var msg="";
            if(starttime != "" || endtime != "") {
                if (starttime >= endtime) {
                    validValue = false;
                    msg = "Start time can't be greater than or same as end time";
                    $("#resultDiv"+index).css('color', 'red');
                    $("#resultDiv"+index).html(msg);
                }
                else {
                    validValue &= true;
                    msg = "";                    
                    $("#resultDiv"+index).html(msg);
                }
            }
            else {
                validValue = false;
                msg = "Start time and end time can't be empty";
                $("#resultDiv"+index).css('color', 'red');
                $("#resultDiv"+index).html(msg);
                }
            }
            //validation for dynamic time
            for(index = 0; index < 20; index++) {
            starttime = $("#dstarttime"+index).val();
            endtime = $("#dendtime"+index).val();
            var msg="";
            if(starttime==null)
            {
                break;
            }
            if(starttime != "" || endtime != "") {
                if (starttime >= endtime) {
                    validValue = false;
                    msg = "Start time can't be greater than or same as end time";
                    $("#dresultDiv"+index).css('color', 'red');
                    $("#dresultDiv"+index).html(msg);
                }
                else {
                    validValue &= true;
                    msg = "";                    
                    $("#dresultDiv"+index).html(msg);
                }
            }
            else {
                validValue = false;
                msg = "Start time and end time can't be empty";
                $("#dresultDiv"+index).css('color', 'red');
                $("#dresultDiv"+index).html(msg);
                }
            }
            //validation end
            if (validValue == true){

            $.ajax({
                type: 'POST',
                url: '/interviewers/%d/edit' % id,
                data: {
                    'email': email,
                    'name': name,
                    'designation': designation,
                    'timeObject': JSON.stringify(timeObject)
                },

                success: function (result) {
                    var msg = " The interviewer " + ' ' + result.interviewer_name + ' ' + " has been edited successfully";
                    $('#myModal').modal('show');
                    $('#myModal .modal-body p').html(msg);
                }

            })
            }
        })
    </script>
    <script>
        var count = 0;
        function addtextbox() {
            var newTextBoxDiv = document.createElement('div');
            newTextBoxDiv.id = 'Tools';
            document.getElementById("ToolsGroup").appendChild(newTextBoxDiv);

            newTextBoxDiv.innerHTML = '<form class="form-inline"><div class="form-group"><label class="col-md-4 control-label" for="starttime">Start&nbsp;time</label><div class="col-md-4"><input type="time" class="form-control input-md" id="dstarttime' + count + '" placeholder="starttime" required> </div></div>' +
                '<div class="form-group"><label class="col-md-4 control-label" for="endtime">End&nbsp;time</label><div class="col-md-4"><input type="time" class="form-control input-md" id="dendtime' + count + '" placeholder="endtime"></div></div>' +
                '<input type="button" value="Remove" class="btn btn-link" onclick="removeTextArea(this);"></div><div id="dresultDiv' + count + '"></div></form>'
            count++;   
        };

        function removeTextArea(inputElement) {
            var el = inputElement;
            while (el.tagName != 'DIV') el = el.parentElement;
            el.parentElement.removeChild(el);
            counter--;
        }

    </script>
    <script>
        function redirectNew() {
            document.location.href = "/interviewers"
        }
    </script>
    <script>
        function removeButton(loopIndex) {
            console.log(loopIndex);
            var row_id = "time-slot-" + loopIndex;
            console.log(row_id);
            var elem = document.getElementById(row_id);
            elem.parentNode.removeChild(elem);
        }
    </script>
    <script>
        $(document).ready(function () {
            $('#starttime0').timepicker({
                timeFormat: 'HH:mm',
                interval: 30,
                use24hours: true,
                scrollbar: true,
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#endtime0').timepicker({
                timeFormat: 'HH:mm',
                interval: 30,
                use24hours: true,
                scrollbar: true,
            });
        });
    </script>



</body>