<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add Interviewers</title>

    <link href="/static/css/qxf2_scheduler.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .bs-example {
            margin: 20px;
        }

        textarea {
            display: inline
        }
    </style>
</head>

<body>
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Success:</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bs-example">
        <form class="form-horizontal was-validated">

            <!-- Form Name -->
            <h2 class="grey_text text-justify">Add Interviewers</h2>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="fname">First Name</label>
                <div class="col-md-4">
                    <input id="fname" name="fname" type="text" placeholder="John" class="form-control input-md"
                        required="">
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="email">Email</label>
                <div class="col-md-4">
                    <input id="email" name="email" type="text" placeholder="johndoe@example.com"
                        class="form-control input-md" required="">
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="designation">Designation</label>
                <div class="col-md-4">
                    <input id="designation" name="designation" type="text" placeholder="QA"
                        class="form-control input-md" required="">
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
            </div>
        </form>
        <form class="form-inline">
            <div class="form-group">
                <label class="col-md-4 control-label" for="starttime">Starttime</label>
                <div class="col-md-4">
                    <input type="startime" class="form-control input-md" id="starttime0" placeholder="starttime"
                        required="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="endtime">Endtime</label>
                <div class="col-md-4">
                    <input type="endtime" class="form-control input-md" id="endtime0" placeholder="endtime" required="">
                </div>
            </div>
        </form>
        <div>
            <input class="btn btn-info" onclick="addtextbox()" type="button" value="Add">
        </div>
        <div id="ToolsGroup">
        </div>

        <!-- Button (Double) -->
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-md-4 control-label" for="save"></label>
                <div class="col-md-8">
                    <input class="btn btn-success" type='button' id='submit' value='Save'>
                    <button id="clear" name="clear" class="btn btn-danger">Cancel</button>
                </div>
            </div>
        </form>
        </form>

    </div>
    <script>
        timeObject = {
            starttime: [],
            endtime: []
        };
        $("#submit").click(function () {
            var email = $("#email").val();
            var name = $("#fname").val();
            var designation = $("#designation").val();
            for (var index = 0; index < count + 1; index++) {
                timeObject.starttime.push($("#starttime" + index).val())
                timeObject.endtime.push($("#endtime" + index).val())
            }
            console.log(timeObject);
            $.ajax({
                type: 'POST',
                url: '/interviewers/add',
                data: {
                    'email': email,
                    'name': name,
                    'designation': designation,
                    'timeObject': JSON.stringify(timeObject)
                },
                success: function (result) {
                    var msg = " The interviewer " + ' ' + result.interviewer_name + ' ' + " has been added successfully";
                    $('#myModal').modal('show');
                    $('#myModal .modal-body p').html(msg);
                }

            })
        })
    </script>
    <script>
        var count = 0;
        function addtextbox() {
            count++;
            var newTextBoxDiv = document.createElement('div');
            newTextBoxDiv.id = 'Tools';
            document.getElementById("ToolsGroup").appendChild(newTextBoxDiv);

            newTextBoxDiv.innerHTML = '<form class="form-inline"><div class="form-group"><label class="col-md-4 control-label" for="starttime">Starttime</label><div class="col-md-4"><input type="startime" class="form-control input-md" id="starttime' + count + '" placeholder="starttime" required=""> </div></div>' +
                '<div class="form-group"><label class="col-md-4 control-label" for="endtime">Endtime</label><div class="col-md-4"><input type="endtime" class="form-control input-md" id="endtime' + count + '" placeholder="endtime" required=""></div></div></form>' +
                '&nbsp;&nbsp;<input type="button" value="Remove" class="removeTools" onclick="removeTextArea(this);">'
            console.log("Iam count", count);
        };

        function removeTextArea(inputElement) {
            var el = inputElement;
            while (el.tagName != 'DIV') el = el.parentElement;
            el.parentElement.removeChild(el);
            counter--;
        }

    </script>
</body>

</html>