<html>
    <head>
        <title>
            Candidate job status
        </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Stylesheets-->
    <link href="/static/css/qxf2_scheduler.css" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet" />
    <!--JavaScript-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    </head>

    <body>
        <div>
            <table>
                <thead>
                   <tr>
                        <th>Candidate Name</th>
                        <th>Job Applied</th>      
                    </tr>
                </thead>
                    <tbody>
                        {% if result!="" %}
                        <tr>
                            <td>{{ result.candidate_name }}</td>
                            <td>{{ result.job_applied }}</td>
                        </tr>
                        {% endif %}
                    </tbody>
            </table>
        </div>
    
        <script>
       
        
        </script>

    </body>
</html>   