<html>
    <head>
        <title>
            Candidate job status
        </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Stylesheets-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet" />
    </head>

    <body>
        <table  class="table table-striped">
            <h2 class="grey_text text-center">Candidate Details</h2>
                <thead>
                   <tr>
                        <th scope="col">Candidate Name</th>
                        <th>Job Applied</th>      
                    </tr>
                </thead>
                <tbody>
                   {% if result!="" %}
                    <tr>
                        <td>{{ result.candidate_name }}</td>
                        <td>{{ result.job_applied }}</td>
                    </tr>
                    {% endif %}
                </tbody>
        </table>
    </body>
</html>   