<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-38578610-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-38578610-13');
    </script>
    <title>
        Interview Confirmation
    </title>
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="/static/css/qxf2_scheduler.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body style="background-color:powderblue;">
    {% include "header.html" %}

    <div class="panel panel-default" style="max-width:1000px;max-height: 800px;margin-left:auto;margin-right:auto;">
        <div class="panel-heading " style="text-align: center;">Scheduled Interview details</div>
        <div class="panel-body" id="resultDiv">
            {% if value != "" %}
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <label class="col-md-8" for="Date:">Date:
                            {{ value['date'] }}</br> Time :{{value['slot']}}</label>
                        <label class="col-md-8" for="dateApplied"></label>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <label class="col-md-8" for="Interviewer email:">
                            Interviewer email id:{{value['schedule_event'][3]['interviewer_email']}}</label>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <label class="col-md-8" for="calendar link:">Calendar Link:</label>
                        <label class="col-md-8" for="calendar link"><a href="{{value['schedule_event'][2]['Link']}}"
                                target="_blank">{{value['schedule_event'][2]['Link']}}</a></label>
                    </div>

                </div>
                <div><input type="hidden" id="reloadPage" value="no"></div>
            </div>
            {% else %}
            <p>Hi,The interview is not scheduled please try again and also check your internet connection. Try to
                schedule an interview again.If it does not work please email to us.</p>
            {% endif %}
        </div>
    </div>
    <!----<script type="text/javascript">
        $(document).ready(function() {
            function reloadPage(){
                location.reload(true); ;    // RELOAD PAGE ON BUTTON CLICK EVENT.

            // SET AUTOMATIC PAGE RELOAD TIME TO 5000 MILISECONDS (5 SECONDS).
            var timerId = setInterval('refreshPage()', 5000);
        }
        });
        function refreshPage() { clearInterval(timerId); location.reload(); }
    </script>---->
    <!----<script>
        onload = function () {
            var e = document.getElementById("reloadPage");
            if (e.value == "no") e.value = "yes";
            else { e.value = "no"; location.reload(); }
        }
    </script>----->
    <!---<script>
        window.history.pushState({ page: 1 }, "", "");
        window.onpopstate = function (event) {
            if (event) {
                window.location.href = 'https://www.google.com/';
                // Code to handle back button or prevent from navigation
            }
        }
    </script>---->
    <script>
        $(document).ready(function ($) {

            if (window.history && window.history.popState) {

                $(window).on('pushstate', function () {
                    var hashLocation = location.hash;
                    var hashSplit = hashLocation.split("#!/");
                    var hashName = hashSplit[1];

                    if (hashName !== '') {
                        var hash = window.location.hash;
                        if (hash === '') {
                            alert('Back button was pressed.');
                            window.location = 'www.example.com';
                            return false;
                        }
                    }
                });

                window.history.popState('forward', null, './#forward');
            }

        });
    </script>

    {% include "footer.html" %}
</body>

</html>