<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Edit Interviewers</title>

    <link href="/static/css/qxf2_scheduler.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .bs-example {
            margin: 20px;
        }

        textarea {
            display: inline
        }
    </style>
</head>

<body>
    <!---Popup dialog Modal form-->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Success:</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="redirectNew()"
                        data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bs-example">
        <form class="form-horizontal">
            <!-- Form Name -->
            <h2 class="grey_text text-justify">Edit Interviewers</h2>

            {% for each_details in result %}
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="fname">First Name</label>
                <div class="col-md-4">
                    <input id="fname" name="fname" type="text" placeholder="John" class="form-control input-md"
                        value="{{each_details['interviewers_name']}}" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="email">Email</label>
                <div class="col-md-4">
                    <input id="email" name="email" type="text" placeholder="johndoe@example.com"
                        value="{{each_details['interviewers_email']}}" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="designation">Designation</label>
                <div class="col-md-4">
                    <input id="designation" name="designation" type="text" placeholder="QA"
                        value="{{each_details['interviewers_designation']}}" class="form-control input-md" required="">

                </div>
            </div>

        </form>

        <form class="form-inline">
            <table style="width: 100%">
                {% for each_slot in each_details['time'] %}
                <tr>
                    <td>
                        <label class="col-md-4 control-label" for="starttime">Starttime</label>
                    </td>
                    <td>
                        <input type="startime" class="form-control input-md" id="starttime{{loop.index}}"
                            placeholder="starttime" value="{{each_slot['starttime']}}" required="">
                    </td>
                    <td>
                        <label class="col-md-8 control-label" for="endtime">Endtime</label>
                    </td>
                    <td>
                        <input type="endtime" class="form-control input-md" id="endtime{{loop.index}}"
                            value="{{each_slot['endtime']}}" placeholder="endtime" required="">
                    </td>
                </tr>
                <br />
                {% endfor %}
            </table>
            
        </form>
        <div>
                <input class="btn btn-info " onclick="addtextbox()" type="button" value="Add">
            </div>
            <div id="ToolsGroup"></div>
        <br />
        <form class="form-horizontal">
            <div class="form-group">
                {% set counter = each_details['time'] | length %}
                {{loop.index}}
                <div class="col-md-8">
                    <input class="btn btn-success" type="button" onclick="editInterviewer({{ counter }})" value="Edit"
                        id="edit">
                </div>
            </div>
        </form>
        {% endfor %}
    </div>
    <script>
        timeObject = {
            starttime: [],
            endtime: []
        };
        function editInterviewer(counter) {
            console.log("I am outside for", parseInt(count) + 1);
            var id = $("#intid").val();
            var email = $("#email").val();
            var name = $("#fname").val();
            var designation = $("#designation").val();
            var i;
            console.log(email, name, designation);
            for (i = 1; i < parseInt(counter) + 1; i++) {
                console.log(i, count);
                timeObject.starttime.push($("#starttime" + i).val())
                timeObject.endtime.push($("#endtime" + i).val())
            };
            
            for (var index = 0; index<count+1; index++) {
                timeObject.starttime.push($("#starttime"+index).val())
                timeObject.endtime.push($("#endtime"+index).val()) 
                    };
            console.log(timeObject, typeof (timeObject));
            $.ajax({
                type: 'POST',
                url: '/interviewer/%d/edit' % id,
                data: {
                    'email': email,
                    'name': name,
                    'designation': designation,
                    'timeObject': JSON.stringify(timeObject)
                },
                success: function (result) {
                    var msg = " The interviewer " + ' ' + result.interviewer_name + ' ' + " has been edited successfully";
                    $('#myModal').modal('show');
                    $('#myModal .modal-body p').html(msg);

                }

            })
        }
    </script>

    <script>
        function redirectNew() {
            document.location.href = "/interviewers"
        }
    </script>

    <script>
        var count = 0;
        function addtextbox() {
            count++;
            var newTextBoxDiv = document.createElement('div');
            newTextBoxDiv.id = 'Tools';
            document.getElementById("ToolsGroup").appendChild(newTextBoxDiv);

            newTextBoxDiv.innerHTML = '<form class="form-inline"><table style="width: 90%"><tr><td><label class="col-md-4 control-label" for="starttime">Starttime</label></td><td><input type="startime" class="form-control input-md" id="starttime'+count+'" placeholder="starttime" required=""></td>' + '<td><label class="col-md-4 control-label" for="endtime">Endtime</label></td><td><input type="endtime" class="form-control input-md" id="endtime'+count+'" placeholder="endtime" required=""></td></form>' + '<td><input type="button" value="Remove" class="removeTools" onclick="removeTextArea(this);"></td></tr></table>'
            console.log("Iam count", count);
        };

        function removeTextArea(inputElement) {
            var el = inputElement;
            while (el.tagName != 'DIV') el = el.parentElement;
            el.parentElement.removeChild(el);
        }

    </script>


</body>

</html>