<html>

<head>
    <title>
        Welcome to Interview Scheduler Application
    </title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="/static/css/google_calendar.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!------<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> ---->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    

</head>

<body>
    <div class="col-md-6" style="margin-top:20px; width:30%; height:50%; max-height:50%;">
        <form>
            <div class='form-group'>
                <label for='candidatesemail'>Enter your email address: </label>
                <input name='emailfield' type='text' class='form-group' id="emaifield" onblur="validateEmail(this);" />
            </div>
            <div class='form-group'>
                <div id="holder" class='form-group'></div>
                <div id="datepicker1"></div>
                <label for='Date'>Choose the interview date:</label>
                <input type='date' name='datefield' id='datepicker'>
            </div>
            <div class='form-group'>
                <input type='button' id='submit' onclick="redirect()" value='Submit'>
            </div>
        </form>
    </div>
    </div>

</body>
<script>
    function validateEmail(emailfield) {
        var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;

        if (reg.test(emailfield.value) == false) {
            alert('Invalid Email Address');
            return false;
        }

        return true;

    }
    $(function () {
        $("#Datepicker1").datepicker({
            numberOfMonths: 3
        });
    });
    
    $(document).ready(function()
    {
        $("#submit").click(function()
    {
     var email = $('#emailfield').val()
     var date = $('#datefield').val()
     var submitdetails=
     {
         type:'POST',
         url:'/free-available-slot'
     }
    });   

    })    
    
    
    

</script>

</html>