<html>

<head>
    <title>
        Welcome to Interview Scheduler Application
    </title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="/static/css/qxf2_scheduler.css" rel="stylesheet" type="text/css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <style>
        p {
  word-break: break-word;
}
    </style>

</head>

<body style="background-color:powderblue;">
    <header class="header header-default header">
        <div class="container-fluid">
            <div class="header-header">
                <a class="header-brand" href="#">
                    <img class="row top-space-2 logo img-responsive header" src="/static/img/qxf2_logo.png"
                        alt="Qxf2 Services"></img></a>
                </a>
                <h1>Qxf2 Services-Interview Scheduler</h1>
            </div>
        </div>
    </header>
    <section>
        <nav>
            <label for='Date'><span style="color:red">*</span>Choose the interview date:</label>
            <!--Src for disable keyboard: https://stackoverflow.com/questions/153759/jquery-datepicker-with-text-input-that-doesnt-allow-user-input-->
            <input type='text' name='datefield' id='datepicker' readonly='true' placeholder="Select date...">
            <br>
            <input class="btn btn-success" type='button' id='submit' value='Confirm your interview date'>
        </nav>
        <article>
            <div>
                <p><b>Please read the below details carefully before scheduling an interview.</b></p>
                <ul>
                    <li>The duration of the round is {{result['round_time']}}</li>
                    <li>

                        <p class="display">{{result['round_description']}}</p>
                    </li>
                    <li>
                        You should have a Laptop with proper Internet connection, headphone and webcam
                    </li>

                </ul>
            </div>
        </article>

    </section>

    <input type="hidden" id="roundDuration" value="{{result['round_time']}}">
    <!----<input type="hidden" id="roundDuration" value="{{result['round_description']}}">---->

    <div class="row top-space-30" style="margin-left:15px;" id="resultDiv">
    </div>
    <div class="row top-space-30" style="margin-left:15px;" id="chosenSlot"></div>
    <div class="row top-space-30" style="margin-left:15px;" id="scheduledEvent"></div>
    </div>
    <div class="loader" id="loader" visibility="hidden"></div>

    <script>
        $(function () {
            //holidays in yyyy-mm-dd format
            var holidays = ['2020-01-01', '2020-01-15', '2020-02-21', '2020-03-25', '2020-05-01', '2020-10-02', '2020-10-26', '2020-10-30', '2020-12-25'];
            // src https://stackoverflow.com/questions/21669950/jquery-ui-datpicker-excluding-weekends-mindate
            // Calculate the next working day manually
            var startDate = new Date(),
                noOfDaysToAdd = 3,
                count = 1;

            while (count <= noOfDaysToAdd) {
                startDate.setDate(startDate.getDate() + 1);
                if (startDate.getDay() != 0 && startDate.getDay() != 6) {
                    count++;
                }
            }
            var endDate = new Date(),
                noOfDaysToAdd = 15,
                count = 1;

            while (count <= noOfDaysToAdd) {
                endDate.setDate(endDate.getDate() + 1);
                if (endDate.getDay() != 0 && endDate.getDay() != 6) {
                    count++;
                }
            }
            $("#datepicker").datepicker({

                beforeShowDay: isHoliday,
                //beforeShowDay: $.datepicker.noWeekends,
                minDate: startDate,
                maxDate: endDate,
            });
            function isHoliday(date) {
                //Src: https://stackoverflow.com/questions/501943/can-the-jquery-ui-datepicker-be-made-to-disable-saturdays-and-sundays-and-holid
                var day = date.getDay(), Sunday = 0, Monday = 1, Tuesday = 2, Wednesday = 3, Thursday = 4, Friday = 5, Saturday = 6;
                var closedDays = [[Saturday], [Sunday]];
                for (var i = 0; i < closedDays.length; i++) {
                    if (day == closedDays[i][0]) {
                        return [false];
                    }
                }
                //Src: //Src for holidays: https://stackoverflow.com/questions/15400775/jquery-ui-datepicker-disable-array-of-dates
                var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
                return [holidays.indexOf(string) == -1]
            }
        });
    </script>
    <script>
        $("document").ready(function () {
            $('#submit').click(function () {

                var date = $('#datepicker').val();
                var elements = [];
                var roundTime = document.getElementById("roundDuration").value;
                console.log(roundTime);
                $("#resultDiv").empty();
                document.getElementById('loader').style.visibility = 'visible';
                if (date == "") {
                    $('#datepicker').css('border', 'solid 2px red');
                    $('#resultDiv').css('color', 'red');
                    $('#resultDiv').text('Invalid date')
                }
                else {
                    var callDetails = {
                        type: 'POST',
                        url: '/get-schedule',
                        data: {
                            'date': date,
                            'roundtime': roundTime
                        }
                    };
                    $.ajax(callDetails).done(function (result) {
                        $('#emailfield').css('border', 'solid 2px rgb(238,238,238)');
                        $('#datepicker').css('border', 'solid 2px rgb(238,238,238)');
                        $("#resultDiv").css('color', 'black');
                        freeChunkSlots = result.free_slots_in_chunks
                        console.log(freeChunkSlots)

                        //Src: https://stackoverflow.com/questions/49040397/print-json-array-in-js
                        var msg = '<br>';
                        if (result.hasOwnProperty('error')) {
                            msg += result.error;
                        }
                        else {
                            if (freeChunkSlots.length == 0) {
                                msg += 'There are no free slots for  on ' + result.date;
                            } else {
                                msg = 'The free slots on ' + result.date + ' are: <br>';
                                for (index in freeChunkSlots) {
                                    slot = freeChunkSlots[index].start + ' - ' + freeChunkSlots[index].end;
                                    var timeSlotButton = $('<div class="col-md-2 top-space-20 text-align:left"><input type="button" onclick="displayChosenSlot(\'' + freeChunkSlots[index].email + '\', \'' + date + '\',\'' + slot + '\')" class="btn" value="' + slot + '"></div>');
                                    elements.push(timeSlotButton);
                                }
                            }//end of if freeSlots is empty
                        }//end of no error key found

                        $("#resultDiv").html(msg);
                        if (elements.length > 0) {
                            $("#resultDiv").append(elements);
                        }

                        document.getElementById('loader').style.visibility = 'hidden';
                    });
                }
            });
        });
    </script>

    <script>
        function displayChosenSlot(emails, date, slot) {
            console.log(emails)
            var msg = "The chosen slot for the interviewer   on " + date + " is: " + slot;
            var timeSlotButton = $('<div class="top-space-20"><input class="btn btn-info" type="button" onclick="scheduleEvent(\'' + emails + '\',\'' + date + '\',\'' + slot + '\')" class="btn" value="Schedule my interview"></div>');
            $("#chosenSlot").html(msg);
            $("#chosenSlot").append(timeSlotButton);
        } 
    </script>
    <script>
        function addHidden(form, name, value) {
            var hiddenField = document.createElement("input");
            hiddenField.type = 'hidden';
            hiddenField.name = name;
            hiddenField.value = value;
            form.appendChild(hiddenField)
            document.body.appendChild(form);

        }
    </script>
    <script>
        function scheduleEvent(emails, date, slot) {
            form = document.createElement("form");
            form.method = "POST";
            form.action = "/confirmation";
            addHidden(form, 'interviewerEmails', emails)
            addHidden(form, 'date', date);
            addHidden(form, 'slot', slot);
            form.submit();

        }
    </script>
    {% include "footer.html" %}
</body>

</html>