<html>

<head>


    <title>Qxf2 Services-Interview Scheduler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link href="/static/css/qxf2_scheduler.css" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet">
    <style>
        .navbar img {
            float: left;
            width: 80px;
            height: 80px;
            position: relative;
            top: -12px;

        }

        .navbar-header {
            width: 100%;
        }

        .navbar h1 {
            top: 18px;
            font-size: 30px;
            color: brown;
            text-align: center;
        }

        .navbar {
            min-height: 80px;
        }
    </style>

</head>

<body>
    <!-- Fixed navbar Src: https://getbootstrap.com/examples/navbar-fixed-top/#-->
    <nav class="navbar navbar-default header">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img class="row top-space-2 logo img-responsive header"
                        src="/static/img/qxf2_logo.png"
                        alt="Qxf2 Services"></img></a>
                </a>
                <h1>Qxf2 Services-Interview Scheduler</h1>
            </div>
        </div>
    </nav>



</body>

</html>