<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-R28LRN90JF"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-R28LRN90JF');
    </script>
    <title>Interview Scheduler</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    {% include "logout.html" %}
    <div class="container">
        <div class="row">
            <h2 class="grey_text text-center">Why Interview Scheduler Application?</h2>
            <br>
            <h3 class="text-justify">This application helps one to automate<a
                    href="https://github.com/qxf2/interview-scheduler"> the interview scheduling process.</a></h3>
            <br>

            <h3>Pages one should know to schedule an application</h3>

            <ol>
                <h4>
                    <li><a href="./interviewers">List the interviewers</a></li>
                </h4>
                <h4>
                    <li><a href="./jobs">List the jobs</a></li>
                </h4>
                <h4>
                    <li><a href="./candidates">List the candidates</a></li>
                </h4>
            </ol>
        </div>
    </div>

</body>

</html>