<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-R28LRN90JF"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-R28LRN90JF');
    </script>
    <title>Interview Scheduler</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    {% include "header.html" %}
    {% include "logout.html" %}
    <div class="container">
        <div class="row">
            <h4>We have developed this application to handle large volume of candidates during our interviews. You can refer the source code <a href="https://github.com/qxf2/interview-scheduler"> here. </a></h4>
                           <ol>
                <li>Allow us to handle a large volume of candidates without having to bother about scheduling.</li>
                <li> Make the interaction with Qxf2 different from other companies</li>
                <li>Remind candidates at key moments during the process about Qxf2's features</li>
                <li>Reduce (almost eliminate) exchange of emails between candidate and interviewer</li></ol>
                Interview scheduler has three main entities. They are <a href="./jobs">Jobs</a>, <a href="./interviewers">Interviewers</a> and <a href="./candidates">Candidates</a>.
            <br>
                <h4>To add yourself as an interviewer</h4>
                <ol><li> Go to /interviewers</li>
                    <li>Add your details link name, email id and your available time slots</li>
                    <li>You can give any number of time slots with breaks</li></ol>
                <h4>To add candidates</h4>
                    <ol><li>Add the candidates details</li>
                    <li>Add some comments about the candidates if it's specified in their resume or in the email </li></ol>
                <h4>To add job</h4>
                <ol>
                    <li>Add the Job with interviewers names</li>
                    <li>Add the rounds for the job also</li>
                </ol>
                <h4>General instructions</h4>
                <ol>
                    <li>Once the interview is scheduled we can reschedule it through our application. We can further do it through Email. Interviewer should take care of it</li>
                    <li> Add your feedback once the interview is over. It will be helpful for the next round of the interviewer.
                    </li>
                    <li>If you are the last round of the interviewer don't send any reject/accept to the candidates. We will take care of it. </li>
                </ol>

        </div>
    </div>


</body>

</html>