<html>

<head>
    <title>
        List of interviewer details
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Stylesheets-->
    <link href="/static/css/qxf2_scheduler.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

    <!--JS files-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>


</head>

<body>
    {% include "logout.html" %}
    {% include "menu-bar.html" %}
    <div class="modal modal-megamenu" id="myModal">
        <div class="modal-dialog modal-megamenu">
            <div class="modal-content modal-megamenu">
                <div class="modal-header modal-megamenu">
                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                </div>
                <div class="modal-body modal-megamenu">
                    <p>Success:</p>
                </div>
                <div class="modal-footer modal-megamenu">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="close-button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-md-offset-1">
        <h3 class="grey_text text-center">List Interviewers</h2>
        <div>
            <input class="btn btn-success" type="button" id="add" onclick="addinterviewer()" value="Add">
        </div>
        <br />
        <table id="table"class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Interviewer Name</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
                {% for each_interviewer in result %}
                <tr>
                    <td>{{ each_interviewer.interviewer_id }}</td>
                    <td><a class="href-link"
                            href="/interviewer/{{ each_interviewer.interviewer_id }}">{{ each_interviewer.interviewer_name }}</a>
                    </td>
                    <td><button class="link-button" type="button" id="edit"
                            onclick="editinterviewer({{ each_interviewer.interviewer_id }})">Edit</button>&nbsp;&nbsp;
                        <button type="button" style="color: red;"
                            class="link-button" data-target="#confirmdeletemodal"
                            data-username="{{ each_interviewer.interviewers_name }}"
                            data-href="{{ each_interviewer.interviewer_id }}" data-toggle="modal">Delete</button></td>


                </tr>
                {% endfor %}
            </tbody>
        </table>

        <script>
            function addinterviewer() {
                document.location.href = '/interviewers/add'
            }
        </script>
        <div class="modal modal-megamenu" id="confirmdeletemodal">
            <div class="modal-dialog modal-megamenu">
                <div class="modal-content modal-megamenu">
                    <div class="modal-header modal-megamenu">
                        <h4 class="modal-title">Remove Interviewer?</h4>
                    </div>
                    <div class="modal-body modal-megamenu">
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="modal-footer modal-megamenu">
                        <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
                        <button class="btn btn-danger" id="remove-button" data-dismiss="modal" data-backdrop="false"
                            type="submit">Remove</button>
                    </div>
                </div><!-- end modal-content -->
            </div><!-- end modal-dialog -->
        </div>
    </div>
    </div>
    <script>
        // Remove button event trigger
        $('#confirmdeletemodal').on('shown.bs.modal', function (e) {
            var triggeringElement = $(e.relatedTarget);
            $(this).find('#remove-button').attr('href', $(e.relatedTarget).data('href'));
            var modal = $(this)
            modal.find('.modal-body').text('Are you sure you wish to delete this  user from the list? ')
            $("#remove-button").on('click', function () {
                $.ajax({
                    type: 'POST',
                    url: '/interviewer/' + $(e.relatedTarget).data('href') + '/delete',
                    data: { 'interviewer-id': $(e.relatedTarget).data('href') },
                    success: function (data) {
                        var msg = "The user deleted is " + data.interviewer_name;
                        $('#myModal').modal('show');
                        $('#myModal .modal-body p').html(msg);

                    }
                })

            })
            $("#close-button").on('click', function () {
            window.location.reload();
        })
        })

    </script>

    <script>
        function editinterviewer(interviewer_id) {
            document.location.href = "/interviewer/"+interviewer_id+"/edit";

        }
    </script>
    <script>
        $(document).ready(function() {
    $('#table').DataTable( {
        "columnDefs": [
                {
                    "targets": [1,2],
                    "orderable":false,


                }],
    });
        })
    </script>

</body>
</html>