<html>

<head>
    <title>
        List of interviewer details
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Stylesheets-->
    <link href="/static/css/qxf2_scheduler.css" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet" />

    <!--JS files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="modal modal-megamenu" id="myModal">
        <div class="modal-dialog modal-megamenu">
            <div class="modal-content modal-megamenu">
                <div class="modal-header modal-megamenu">                    
                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                </div>
                <div class="modal-body modal-megamenu">
                    <p>Success:</p>
                </div>
                <div class="modal-footer modal-megamenu">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-md-offset-1">
        <h2 class="grey_text text-center">Job roles</h2>
        <div>
            <input class="btn btn-info" type="button" id="add" onclick="addJob()" value="Add">
        </div>
        <div class="row-fluid top-space-20">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Job ID</th>
                        <th>Job role</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for each_job in result %}
                    <tr>
                        <td>{{ each_job.job_id }}</td>
                        <td><a href="/{{ each_job.job_id }}/interviewers">{{ each_job.job_role }}</a></td>
                        <td><input class="btn btn-info" type="button" id="edit" value="Edit">
                            <button type="button" class="btn btn-info" data-target="#confirmdeletemodal"
                                data-jobrole="{{ each_job.job_role }}" data-href="{{ each_job.job_id }}"
                                data-toggle="modal">Delete</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="modal modal-megamenu" id="confirmdeletemodal">
                <div class="modal-dialog modal-megamenu" >
                    <div class="modal-content modal-megamenu">
                        <div class="modal-header modal-megamenu">
                            <h4 class="modal-title">Remove Job?</h4>
                        </div>
                        <div class="modal-body modal-megamenu">
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="modal-footer modal-megamenu">
                            <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
                            <button class="btn btn-danger" id="remove-button" data-dismiss="modal" data-backdrop="false"
                                type="submit">Remove</button>
                        </div>
                    </div><!-- end modal-content -->
                </div><!-- end modal-dialog -->
            </div>
        </div>
    </div>
    <script>
        // Remove button event trigger
        $('#confirmdeletemodal').on('shown.bs.modal', function (e) {
            var triggeringElement = $(e.relatedTarget);
            console.log("Triggering element is: ", triggeringElement.data('href'));
            $(this).find('#remove-button').attr('href', $(e.relatedTarget).data('href'));
            console.log("This is in confirmdelete" + $(e.relatedTarget).data('href'));
            var modal = $(this)
            modal.find('.modal-body').text('Are you sure you wish to delete this ' + triggeringElement.data("jobrole") + 'job? ')
            $("#remove-button").on('click', function () {
                var jobid = triggeringElement.data('href');
                console.log("I am inside the remove button", $(e.relatedTarget).data('href'));
                $.ajax({
                    type: 'POST',
                    url: '/jobs/delete',
                    data: { 'job-id': $(e.relatedTarget).data('href') },
                    success: function (data) {
                        var msg = "The role deleted is " + data.job_role;
                        console.log(msg, data);
                        $('#myModal').modal('show');
                        $('#myModal .modal-body p').html(msg);

                    }
                })

            })
        })

    </script>
    <script>
        
            function addJob(){
                document.location.href='/jobs/add'
            }
       
    </script>


</body>

</html>