<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-38578610-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-38578610-13');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Interview Scheduler-Login/Signup</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>Signin</title>
</head>
    <body>
        <center>
        <div class="logo">
                <img src="{{ url_for('static', filename='img/qxf2_logo.png') }}" alt="logo" />
        </div>

        <h1><B>Qxf2 Interview Scheduler App</B></h1>
        <h5>Sign in to continue</h5>
        <h3><B><a href="/login" class="btn btn-success" >Sign in</a></B></h3>
        </center>
    </body>
</html>
