<html>

<head>
    <title>
        List of candidate details
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Stylesheets-->
    <link href="/static/css/qxf2_scheduler.css" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

    <!--JS files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>


</head>

<body>
    {% include "logout.html" %}
    {% include "menu-bar.html" %}
    <div class="modal modal-megamenu" id="myModal">
        <div class="modal-dialog modal-megamenu">
            <div class="modal-content modal-megamenu">
                <div class="modal-header modal-megamenu">
                    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                </div>
                <div class="modal-body modal-megamenu">
                    <p>Success:</p>
                </div>
                <div class="modal-footer modal-megamenu">
                    <button type="button" id="close-button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-md-offset-1 list">
        <h3 class="grey_text text-center">Candidates List</h2>
        <div>
            <input class="btn btn-success" type="button" id="add" onclick="addCandidate()" value="Add">
        </div>
        <input type="hidden" value="each_candidate.candidate_id">

        <div class="row-fluid top-space-20">
            <table id="table" style="table-layout: width: 800%" class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Job</th>

        </div>
        </th>
        <th>Status</th>

    </div>
    </div>

    </th>
    <th>Actions</th>

    </tr>
    </thead>
    <tbody>
        {% for each_candidate in result %}
        <tr>
            <td>{{ each_candidate.candidate_id }}</td>
            <!-- change href-->
            <td><a
                    href="/candidate/{{each_candidate.candidate_id}}/job/{{ each_candidate.job_id}}">{{ each_candidate.candidate_name }}</a>
            </td>
            <td>{{ each_candidate.candidate_email }}</td>
            <!--change each_candidate.job_applied-->
            <td>{{ each_candidate.job_role }}</td>
            <td>{{ each_candidate.candidate_status }}</td>

            <td><button class="link-button" type="button" id="edit"
                    onclick="editCandidates({{each_candidate.candidate_id}})">Edit</button>
                <button class="link-button" type="button" data-target="#confirmdeletemodal"
                    data-candidatename="{{ each_candidate.candidate_name }}"
                    data-candidateid="{{ each_candidate.candidate_id }}" data-jobid="{{ each_candidate.job_id }}"
                    data-toggle="modal">Delete</button></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
    <div class="modal modal-megamenu" id="confirmdeletemodal">
        <div class="modal-dialog modal-megamenu">
            <div class="modal-content modal-megamenu">
                <div class="modal-header modal-megamenu">
                    <h4 class="modal-title">Remove candidate?</h4>
                </div>
                <div class="modal-body modal-megamenu">
                    <input type="text" class="form-control" id="recipient-name">
                </div>
                <div class="modal-footer modal-megamenu">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-danger" id="remove-button" data-dismiss="modal" data-backdrop="false"
                        type="submit">Remove</button>
                </div>
            </div><!-- end modal-content -->
        </div><!-- end modal-dialog -->
    </div>
    </div>
    </div>
    <script>
        // Remove button event trigger
        $('#confirmdeletemodal').on('shown.bs.modal', function (e) {
            var triggeringElement = $(e.relatedTarget);
            $(this).find('#remove-button').attr('href', $(e.relatedTarget).data('href'));
            var modal = $(this)
            var candidateId = $(e.relatedTarget).data('candidateid');
            modal.find('.modal-body').text('Are you sure you wish to delete this ' + triggeringElement.data("candidatename") + '  candidate? ')
            $("#remove-button").on('click', function () {
                var jobid = triggeringElement.data('href');
                $.ajax({
                    type: 'POST',
                    url: '/candidate/' + candidateId + '/delete',
                    data: { 'candidateId': $(e.relatedTarget).data('candidateid'), 'jobId': $(e.relatedTarget).data('jobid') },
                    success: function (data) {
                        var msg = "The  deleted candidate is " + data.candidate_name;
                        $('#myModal').modal('show');
                        $('#myModal .modal-body p').html(msg);
                    }
                })
            })
            $("#close-button").on('click', function () {
                location.reload();
            })
        })

    </script>
    <script>
        function addCandidate() {
            document.location.href = '/candidate/add'
        }
    </script>
    <script>
        function editCandidates(candidate_id) {
            document.location.href = '/candidate/' + candidate_id + '/edit';
        }
    </script>
    <script>
        $(document).ready(function() {
    $('#table').DataTable( {
        "columnDefs": [
                {"visible": false, "targets": 2},
                {
                    "targets": [1,2,3,4,5],
                    "orderable":false,


                }],
        initComplete: function (d) {
            this.api().columns([3,4]).every( function () {
                var column = this;
                var Jobs = $("#table th").eq([d]).text();
                var select = $('<select class="drop-down"><option value="" style="display:none;"></option></select>')
                    .appendTo( $(column.header()))
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );

                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );

                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }

    } );
} );

</script>
<script>
        $("#statusFilter").on('change', function () {
            var dropdownvalue = document.getElementById("statusFilter")
            var selectStatus = dropdownvalue.options[dropdownvalue.selectedIndex].value
            $.ajax({
                type: 'POST',
                url: '/candidatestatus/filter',
                data: {
                    'selectedstatus': selectStatus
                },
                success: function (result) {
                    if (result == 'error') {
                        alert("There are no candidates with the filtered status value")
                        document.location.href = "/candidates";
                    }
                    else {
                        document.write(result);
                    }
                }
            })
            $(".list").empty();

        })
    </script>
    <script>
        $("#jobFilter").on('change', function () {
            var dropdownvalue = document.getElementById("jobFilter")
            var selectJob = dropdownvalue.options[dropdownvalue.selectedIndex].value
            $.ajax({
                type: 'POST',
                url: '/filter/job',
                data: {
                    'selectjob': selectJob
                },
                success: function (result) {
                    if (result == 'error') {
                        alert("There are no candidates with the filtered job value")
                        document.location.href = "/candidates";
                    }
                    else {
                        document.write(result);
                    }
                }
            })
            $(".list").empty();
        })
    </script>

</body>

</html>