<!DOCTYPE html>
<html lang="en">

<head>
    <title>Interviewer Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Stylesheets-->
    <link href="/static/css/qxf2_scheduler.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet" />
    <!--JS files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    {% include "logout.html" %}
        <div class="container col-md-offset-1">
        <table class="table table-striped">
            <h2 class="grey_text text-center">Interviewer Details</h2>
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col col-md-2">Interviewers work hours</th>

                </tr>
            </thead>
            <tbody>

                {% for each_detail in result %}
                <tr>
                    <td>{{ each_detail.interviewers_name }}</td>
                    <td>{{ each_detail.interviewers_email }}</td>
                    <td>
                        {% for each_time in each_detail.time %}
                        <p>{{each_time['starttime'] }}-{{ each_time['endtime']}}</p>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</body>

</html>