<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h2>Striped Rows</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col" colspan="2" align="center">Interviewers work hours</th>
                    <th scope="col">Actions</th>

                </tr>
            </thead>
            <tbody>
                {% for each_detail in result %}
                
                <tr>
                    <td>{{ each_detail.interviewers_name }}</td>
                    <td>{{ each_detail.interviewers_email }}</td>
                    {% for each_time in each_detail.time %}
                    <td>{{each_time['starttime'] }}-{{ each_time['endtime']}}</td>
                    {% endfor %}
                    
                    <td><input class="btn btn-info" type="button" value="Edit" id="edit"
                            onclick="editinterviewer({{ each_detail.interviewers_id }})"></td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
        <script>
            function editinterviewer(interviewer_id) {               
                document.location.href = "/" + interviewer_id + "/interviewer/edit/"
                $.ajax({
                    type:'POST',
                    url:'/'+interviewer_id +'/interviewer/edit/',
                    
                })
            }
        </script>


    </div>
</body>

</html>