<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-R28LRN90JF"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-R28LRN90JF');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Interview Scheduler-Reset Password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    {% include "messages.html" %}
    <section class="hero is-primary is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">


                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title">Reset Password</h3>

                    <div class="box">
                        <form>
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" id="userPassword" type="password" name="password"
                                        placeholder="Your Password">
                                </div>
                            </div>

                            <input type="button" class="btn btn-info" id="submitButton" value="Submit">
                            <input type="button" class="btn btn-info" id="cancelButton" value="Cancel">
                            <input type="hidden" class="btn btn-info" id="userEmail" value="{{email}}">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $("document").ready(function () {
                $('#submitButton').click(function () {
                    newPassword = $("#userPassword").val();
                    userEmail = document.getElementById("userEmail").value;
                    $.ajax({
                        type: 'Post',
                        url: '/change-password',
                        data: {
                            newpassword: newPassword,
                            useremail: userEmail

                        },
                        success: function (result) {
                            if (result.error == 'Success') {
                                alert("The password is changed");
                                document.location.href = "/login";

                            }
                            else if (result.error == 'error') {
                                alert("Please check your username and password");
                                document.location.href = '/login';
                            }
                            else if (result.error == 'confirmation error') {
                                alert("Please confirm your email address")
                                document.location.href = '/login'
                            }
                        }
                    })
                })
            })
        </script>
    </section>
</body>

</html>