<html>

<head>
    <title>
        List of interviewer details
    </title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="/static/css/qxf2_scheduler.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
</head>

<body>
    <div class="container col-md-offset-1">
        <h3>Interviewer list for the Job role</h3>
        <div>
            {% for each_job in result %}

            <p>{{ each_job.interviewers_name }}</p>
            {% endfor %}

        </div>

</body>

</html>