<html>

<head>
    <title>
        List of interviewer details
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Stylesheets-->
    <link href="/static/css/qxf2_scheduler.css" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet" />


    <!--JS files-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>
    {% include "logout.html" %}
    <h3 class="grey_text text-center">Interviewers list for the Job role</h3>
    <div class="container col-md-offset-1">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Interviewers Name</th>
                </tr>
            </thead>
            <tbody>
                {% for each_job in result %}
                <tr>
                    <td>{{ each_job.interviewers_name }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div><br /><br />
    <h3 class="grey_text text-center">Candidates list for the Job role</h3>
    <div class="container col-md-offset-1">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Candidates Name</th>
                    <th>Candidate email</th>
                    <th>Candidate status</th>

                </tr>
            </thead>
            <tbody>
                {% for each_candidate in candidates %}
                <tr>
                    <td><a href="/candidate/{{each_candidate.candidate_id}}/job/{{each_candidate.job_id}}">{{ each_candidate.candidate_name }}</a></td>
                    <td>{{ each_candidate.candidate_email }}</td>
                    <td>{{ each_candidate.candidate_status }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div><br></br>
    <h3 class="grey_text text-center">Round details</h3>
    <div class="container col-md-offset-1">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Round Name</th>
                    <th scope="col">Time Duration</th>
                    <th scope="col">Description</th>
                    <th scope="col">Requirements</th>
                </tr>
            </thead>
            <tbody>
                {% for each_round in round %}
                <input type="hidden" value="{{each_round.job_id}}" id="jobId">
                <tr>
                    <td>{{ each_round.round_name}}</td>
                    <td>{{ each_round.round_time }}</td>
                    <td>{{ each_round.round_description }}</td>
                    <td>{{ each_round.round_requirement }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        <button class="btn btn-danger changeme" onclick="changeStatus()" id="jobStatus">Close job</button>

    </div>
    <script>
        let store = window.localStorage
        function changeStatus() {
          let val
          var jobid = document.getElementById("jobId").value;
          store.getItem('btnstat') == "Close job"? checkUpdLocal("Open job") : checkUpdLocal("Close job")
          // toggle status

          val = store.getItem('btnstat')
          console.log(val);
          $.ajax({
            type: 'POST',
            url: '/job/status',
            data: {
                 'jobid': jobid
            },
            success: function(result) {
              alert("The Job has been "+result.job_status+"d");

            }
          })
        }

        function checkUpdLocal(stat){
          if(!store.getItem('btnstat')){ // if local storage does not exist
            console.log("I am coming to line number 120");
            store.setItem('btnstat', "Close job") // close by default
          }else if(store.getItem('btnstat') && !stat){ // if storage exist but we don't change status (first ini) - change buttno text
            console.log("i am coming to line 123");
            $('.changeme').html(store.getItem('btnstat'))
          }
          if(stat){ // setter
            console.log("comind inside if stat")
            store.setItem('btnstat', stat)
            $('.changeme').html(stat)
          }else{
            return store.getItem('btnstat') // getter
          }
        }


        $( document ).ready( function(){checkUpdLocal()})
        </script>



</body>

</html>