<html>

<head>
    <title>
        List of rounds
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add,Edit,Delete rounds</title>
    <link href="/static/css/qxf2_scheduler.css" rel="stylesheet">
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <link href="/resources/demos/style.css" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet" />    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>  
    
  
</head>

<body>
    <div id="dialog-confirm" title="Delete round?">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>These round will be permanently deleted and cannot be recovered. Are you sure?</p>
    </div>
    <div class="container col-md-offset-1">
        <h2 class="grey_text text-center">Rounds List</h2>
        
                <input class="btn btn-info" type="button" id="create-user" value="Add rounds">
                   
           
            <div class="row-fluid top-space-20">
                {% if result | length == 0 %}
                <div>
                    <p>There are no round details ,If you want you can add it </p>
                </div>
                {% else %}
                <table class="table table-striped">
                    <thead>
                        <th>Round name</th>
                        <th>Round duration</th>
                        <th>Round Description</th>
                        <th>Round requirements</th>
                        <th>Actions</th>
                    </thead>
                    {% for each_item in result %}
                    <tbody>
                        <td>{{each_item.round_name}}</td>
                        <td>{{each_item.round_time}}</td>
                        <td>{{each_item.round_description}}</td>
                        <td>{{each_item.round_requirement}}</td>
                        <td>
                            <input type="button" class="btn btn-info" value="Edit" id="edit-button" data-edit-round-id="{{each_item.round_id}}" />
                            <input type="button" class="btn btn-info" onclick="delete_round(this)" value="Delete" id="delete-button{{each_item.round_id}}" data-delete-round-id="{{each_item.round_id}}" data-delete-job-id="{{jobs}}" />
                        </td>   
                    </tbody>
                    {% endfor %}
                    {% endif %}
                </table>
            </div>
            </div>
            <div id="dialog-form" title="Create new round">
                    <p class="validateTips">All form fields are required.</p>

                    <form>
                        <fieldset>
                            <label for="roundname">Round name</label>
                            <input type="text" name="roundname" id="roundname"
                                class="text ui-widget-content ui-corner-all">
                            <label for="duration">Duration</label>
                            <input type="text" name="duration" id="duration"
                                class="text ui-widget-content ui-corner-all">
                            <label for="description">Description</label>
                            <input type="text" name="description" id="description"
                                class="text ui-widget-content ui-corner-all">
                            <label for="requirements">Requirements</label>
                            <input type="requirements" name="requirements" id="requirements"
                                class="text ui-widget-content ui-corner-all">
                            <input type="hidden" id='jobId' ,value="{{job_id}}">
                            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
                        </fieldset>
                    </form>
                </div>

                <script>
                        $(function () {
                            var dialog, form,
                                roundname = $("#roundname"),
                                duration = $("#duration"),
                                description = $("#description"),
                                requirements = $("#requirements"),
                                allFields = $([]).add(roundname).add(duration).add(description).add(requirements),
                                tips = $(".validateTips");
    
                            function updateTips(t) {
                                console.log(t);
                                tips
                                    .text(t)
                                    .addClass("ui-state-highlight");
                                setTimeout(function () {
                                    tips.removeClass("ui-state-highlight", 1500);
                                }, 500);
                            }
    
                            function checkLength(o, n, min, max) {
                                
                                if (o.val().length > max || o.val().length < min) {
                                    o.addClass("ui-state-error");
                                    updateTips("Length of " + n + " must be between " +
                                        min + " and " + max + ".");
                                
                                    return false;
                                } else {
                                    return true;
                                }
                            }
    
                            function addUser() {
                                var valid = true;
                                allFields.removeClass("ui-state-error");
                                var roundname = $("#roundname");
                                var duration = $("#duration");
                                var description = $("#description");
                                var requirements = $("#requirements");
                                var jobId = document.getElementById("jobId").value;                                
                                valid = valid && checkLength(roundname, "roundname", 3, 16);                                
                                valid = valid && checkLength(duration, "duration", 3, 16);
                                valid = valid && checkLength(description, "description", 3, 300);
                                valid = valid && checkLength(requirements, "requirments", 5, 300);
                                
                                if (valid) {
                                var roundname = $("#roundname").val();
                                var duration = $("#duration").val();
                                var description = $("#description").val();
                                var requirements = $("#requirements").val();
                                var jobId = document.getElementById("jobId").value;
                                    $("#users tbody").append("<tr>" +
                                        "<td>" + roundname + "</td>" +
                                        "<td>" + duration + "</td>" +
                                        "<td>" + description + "</td>" +
                                        "<td>" + requirements + "</td>" +
                                        "</tr>");
                                    $.ajax({
                                        type: 'POST',
                                        url: '/job/%d/rounds'%jobId,
                                        data: {
                                            'roundname': roundname,
                                            'duration': duration,
                                            'description': description,
                                            'requirements': requirements
                                        },
                                        success: function (result) {
                                            console.log(result);
                                            alert("The round has been added");
                                            document.location.href = "/jobs";
                                        },
                                    })
    
                                    dialog.dialog("close");
                                }
                                return valid;
                            }
    
                            dialog = $("#dialog-form").dialog({
                                autoOpen: false,
                                height: 400,
                                width: 350,
                                modal: true,
                                buttons: {
                                    "Create Rounds": addUser,
                                    Cancel: function () {
                                        dialog.dialog("close");
                                    }
                                },
                                close: function () {
                                    form[0].reset();
                                    allFields.removeClass("ui-state-error");
                                }
                            });
    
                            form = dialog.find("form").on("submit", function (event) {
                                event.preventDefault();
                                addUser();
    
    
                            });
    
                            $("#create-user").button().on("click", function () {
                                console.log("I am first");
                                dialog.dialog("open");
                            });
                        });
                    </script>
            
    <script>
        //Confirmation message for deleteing round
        var round_id;
        var job_id;
        var dialog = $("#dialog-confirm").dialog({
        resizable: false,
        height: "auto",
        autoOpen: false,
        width: 400,
        modal: true,
        buttons: {         
        "Delete": function() {
        $.ajax({
        type: 'GET',
        url: '/rounds/'+ round_id +'/jobs/'+ job_id +'/delete',
        data: {'round_id':round_id,'job_id':job_id},
        success: function (data) {
        window.location.reload();
        console.log("successfully deleted the data")
        }
        })
        $( this ).dialog( "close" );
        },
        Cancel: function() {
        $( this ).dialog( "close" );
        }
        }
        });
        function delete_round(action_delete){
        round_id = action_delete.getAttribute("data-delete-round-id");
        job_id = action_delete.getAttribute("data-delete-job-id");
        dialog.dialog( "open" );
        }
    </script>
    

</body>

     
</html>