<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add,Edit,Delete rounds</title>
    <link href="/static/css/qxf2_scheduler.css" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    <div class="container col-md-offset-1">
        <h2 class="grey_text text-center">Rounds List</h2>
        <div>
            <div class="container col-md-offset-1">
                <div>
                    <input class="btn btn-info" type="button" id="create-user" value="Add rounds">
                </div>
                <br />

                <div class="container col-md-offset-1">
                    <table class="table table-striped">
                        {% if rounds | length >= 1 %}
                        <h3 class="grey_text text-center">Round details</h3>
                        <thead>
                            <tr>
                                <th scope="col">Round Name</th>
                                <th scope="col">Time Duration</th>
                                <th scope="col">Description</th>
                                <th scope="col">Requirements</th>
                                <th scope="col col-md-4">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for each_round in rounds %}
                            <tr>
                                <td>{{ each_round.round_name }}</td>
                                <td>{{ each_round.round_time }}</td>
                                <td>{{ each_round.round_description }}</td>
                                <td>{{ each_round.round_requirement }}</td>
                                <td>
                                    <input type="button" class="btn btn-info" value="Edit round">
                                    <input type="button" class="btn btn-info" value="Delete round">
                                </td>
                            </tr>
                            {% endfor %}

                            {% else %}
                            <div>
                                <p>There are no rounds been added for this job now. If you want to add click 'Add
                                    rounds' button.Thank you.</p>
                            </div>
                            {% endif %}
                        </tbody>
                    </table>
                </div>


                <div id="dialog-form" title="Create new round">
                    <p class="validateTips">All form fields are required.</p>

                    <form>
                        <fieldset>
                            <label for="roundname">Round name</label>
                            <input type="text" name="roundname" id="roundname"
                                class="text ui-widget-content ui-corner-all">
                            <label for="duration">Duration</label>
                            <input type="text" name="duration" id="duration"
                                class="text ui-widget-content ui-corner-all">
                            <label for="description">Description</label>
                            <input type="text" name="description" id="description"
                                class="text ui-widget-content ui-corner-all">
                            <label for="requirements">Requirements</label>
                            <input type="requirements" name="requirements" id="requirements"
                                class="text ui-widget-content ui-corner-all">
                            <input type="hidden" id='jobId' ,value="{{result.job_id}}">
                            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
                        </fieldset>
                    </form>
                </div>

                <script>
                    $(function () {
                        var dialog, form,
                            roundname = $("#roundname"),
                            duration = $("#duration"),
                            description = $("#description"),
                            requirements = $("#requirements"),
                            allFields = $([]).add(roundname).add(duration).add(description).add(requirements),
                            tips = $(".validateTips");

                        function updateTips(t) {
                            tips
                                .text(t)
                                .addClass("ui-state-highlight");
                            setTimeout(function () {
                                tips.removeClass("ui-state-highlight", 1500);
                            }, 500);
                        }

                        function checkLength(o, n, min, max) {
                            if (o.length > max || o.length < min) {
                                o.addClass("ui-state-error");
                                updateTips("Length of " + n + " must be between " +
                                    min + " and " + max + ".");
                                return false;
                            } else {
                                return true;
                            }
                        }

                        function addUser() {
                            var valid = true;
                            allFields.removeClass("ui-state-error");
                            var roundname = $("#roundname").val();
                            var duration = $("#duration").val();
                            var description = $("#description").val();
                            var requirements = $("#requirements").val();
                            var JobId = document.getElementById("jobId").value;
                            console.log(duration, description, requirements);
                            valid = valid && checkLength(roundname, "roundname", 3, 16);
                            valid = valid && checkLength(duration, "duration", 3, 16);
                            valid = valid && checkLength(description, "description", 3, 300);
                            valid = valid && checkLength(requirements, "requirments", 5, 300);
                            if (valid) {
                                $("#users tbody").append("<tr>" +
                                    "<td>" + roundname + "</td>" +
                                    "<td>" + duration + "</td>" +
                                    "<td>" + description + "</td>" +
                                    "<td>" + requirements + "</td>" +
                                    "</tr>");
                                $.ajax({
                                    type: 'POST',
                                    url: '/job/%d/rounds' % jobId,
                                    data: {
                                        'roundname': roundname,
                                        'duration': duration,
                                        'description': description,
                                        'requirements': requirements
                                    },
                                    success: function (result) {
                                        console.log(result);
                                        alert("The round has been added");
                                        document.location.href = "/jobs";
                                    },
                                })

                                dialog.dialog("close");
                            }
                            return valid;
                        }

                        dialog = $("#dialog-form").dialog({
                            autoOpen: false,
                            height: 400,
                            width: 350,
                            modal: true,
                            buttons: {
                                "Create Rounds": addUser,
                                Cancel: function () {
                                    dialog.dialog("close");
                                }
                            },
                            close: function () {
                                form[0].reset();
                                allFields.removeClass("ui-state-error");
                            }
                        });

                        form = dialog.find("form").on("submit", function (event) {
                            event.preventDefault();
                            addUser();


                        });

                        $("#create-user").button().on("click", function () {
                            dialog.dialog("open");
                        });
                    });
                </script>
</body>

</html>