<p>Hello {{candidate_name}},</p>

<p>Thank you for choosing to interview with Qxf2 Services. You have been selected for the <strong>{{round_name}}</strong> of our interview. Read the below round description carefully.<br><p><strong>{{round_details}}.</strong></p> <br> Please self-schedule your interview with us by visiting this <a href={{link}}>link</a> <br><br>The link above will have the details about what to expect in this round. Choose a convenient date for your interview to see a list all the time slots we have available for your interview. Select a time slot that suits you and your interview with us will be scheduled automatically. Once you schedule your interview, you will receive a calendar invite confirming the interview.<br><br> Please use this unique code <b>{{unique_code}}</b> and your email to schedule an interview. This link will expire on <b>{{expiry_date}}.</b><br><br></p>

<p>Thanks,</p>
<p>Qxf2 Services</p>

