<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-R28LRN90JF"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-R28LRN90JF');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Signup</title>

    <link href="/static/css/qxf2_scheduler.css" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .bs-example {
            margin: 20px;
        }

        textarea {
            display: inline
        }
    </style>
</head>

<body>

    <div>
        <h2 class="grey_text text-justify">Sign up</h2>
        <form class="needs-validation">
            <label class="col-md-4 control-label" for="fname">User Name</label>
            <div class="col-md-4">
                <input id="uname" name="uname" type="text" placeholder="John" class="form-control" required>
                <div class="valid-feedback">Valid</div>
                <div class="invalid-feedback">Please fill out this field</div>
            </div>

            <label class="col-md-4 control-label" for="email">Email</label>
            <div class="col-md-4">
                <input id="email" name="email" type="Email" placeholder="johndoe@example.com" class="form-control"
                    required>
                <div id='emaildomain'></div>
            </div>
            <div class="valid-feedback">Valid</div>
            <div class="invalid-feedback">Please fill out this field</div>

    </div>
    <label class="col-md-4 control-label" for="password">Password</label>
    <div class="col-md-4">
        <input id="password" name="password" type="password" class="form-control" required>
    </div>
    <div class="valid-feedback">Valid</div>
    <div class="invalid-feedback">Please fill out this field</div>
    </div>
    <label class="col-md-4 control-label" for="password">Confirm Password</label>
    <div class="col-md-4">
        <input id="confirmPassword" name="password" type="password" class="form-control" required>

    </div>
    <div class="valid-feedback">Valid</div>
    <div class="invalid-feedback">Please fill out this field</div>
    <div id='message'></div>
    </div>

    <label class="col-md-4 control-label" for="save"></label>
    <div class="col-md-8">
        <button class="btn btn-info" id="addSubmit" type="submit">Submit</button>
        <button name="clear" onclick="clearAdd()" type="button" class="btn btn-danger">Cancel</button>
    </div>
    </form>
    </div>
    <script>
        function clearAdd() {
            document.location.href = "/login"
        }
    </script>
    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                var forms = document.getElementsByClassName('needs-validation');
                var validValue = true;
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        event.preventDefault();
                        event.stopPropagation();
                        $("#message").empty();
                        $("#emaildomain").empty();
                        var candidateEmail = $("#email").val();
                        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                        var emailValidate = true;
                        if (re.test(candidateEmail)) {
                            var idx = candidateEmail.lastIndexOf('@');
                            if (idx > -1 && candidateEmail.slice(idx + 1) !== 'qxf2.com') {
                                emailValidate = false;
                                validValue = false
                                $("#emaildomain").text("Enter the email address with qxf2 domain");
                                $("#emaildomain").css('color', 'red');
                            }

                        }
                        var passwordValidate = true;
                        if (validValue && emailValidate == true) {

                            if ($('#password').val() != $('#confirmPassword').val()) {
                                passwordValidate = false;
                                validValue = false;
                                $('#message').html('Password not Matching').css('color', 'red')
                            }

                        }

                        if (validValue === true) {
                            if (form.checkValidity() === true) {
                                var userName = $("#uname").val();
                                var userEmail = $("#email").val();
                                var userPassword = $("#password").val();
                                $("#addSubmit").attr("disabled", true);
                                $.ajax({
                                    type: 'POST',
                                    url: '/registration',
                                    data: {
                                        'username': userName,
                                        'useremail': userEmail,
                                        'userpassword': userPassword
                                    },
                                    success: function (result) {

                                        if (result.error == "Success") {
                                            alert("The user has been registered");
                                            document.location.href = "/login";

                                        }
                                        else {
                                            alert("The user is already registered or something gone wrong with your registration.Please check with your admin");
                                            document.location.href = "/login";
                                        }


                                    }
                                })
                            }
                        }


                    }, false);
                });
            }, false);
        })();
    </script>

</body>

</html>