<!DOCTYPE html>
<html lang="en">

<head>
    <title>
    Welcome
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add Interviewers</title>
    <link href="/static/css/qxf2_scheduler.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
    <body>
    <h3>Welcome to Qxf2</h3>
    <p>Please fill the below fields and submit your details to schedule next round of your Interview</p>
    <div class="bs-example">
    <form>
        <div class="form-group">
            <label class="col-md-3 control-label"><span style="color:red">*</span>Enter your name:</label>
            <div class="col-md-3">
                <input id="name" name="name" type="text" placeholder="John" class="form-control input-md"
                    required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label"><span style="color:red">*</span>Enter your email:</label>
            <div class="col-md-3">
                <input id="email" name="email" type="email" placeholder="johndoe@example.com"
                    class="form-control input-md" required>
            </div>
        </div>
        </form>
        </div>
    </body>
</html>
