<!DOCTYPE html>
<html lang="en">

<head>
    <title>
    Welcome
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add Interviewers</title>
    <link href="/static/css/qxf2_scheduler.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
    <body>
    <h3>Welcome to Qxf2</h3>
    <p>Please fill the below fields and submit your details to schedule next round of your Interview</p>
    <div class="bs-example">
    <form>
        <div class="form-group">
            <label class="col-md-3 control-label"><span style="color:red">*</span>Enter your name</label>
            <div class="col-md-3">
                <input id="candidate-name" name="candidate-name" type="text" placeholder="John" class="form-control input-md"
                    required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label"><span style="color:red">*</span>Enter your email</label>
            <div class="col-md-3">
                <input id="candidate-email" name="candidate-email" type="email" placeholder="johndoe@example.com"
                    class="form-control input-md" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="save"></label>
            <div class="col-md-8">
                <input class="btn btn-success show-modal" type='button' id='submit' value='Go for schedule'>
            </div>
        </div>
        </form>
        </div>
        <script>
            
            $("#submit").on('click',function()
            {
                var valid_value = true;
                //Valdidation for name and email field
                var candidate_name = $("#candidate-name").val();
                var candidate_email = $("#candidate-email").val();
                valid_value &= candidate_name != "";
                valid_value &= candidate_email != "";
                var email_valid = (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/).test(candidate_email);
                valid_value &= email_valid;
                //Printing appropriate message
                $('#err-name').remove();
                $('#err-email').remove();
                if (candidate_name == ""){
                $('#candidate-name').after('<span id="err-name" class="error" style="color:red">Name can\'t be empty</span>');
                }
                if (candidate_email == ""){
                $('#candidate-email').after('<span id="err-email" class="error" style="color:red">Email can\'t be empty</span>');
                }
                if (email_valid == false && candidate_email != ""){
                    $('#candidate-email').after('<span id="err-email" class="error" style="color:red">Enter a valid email</span>');
                }
                var jobid = "{{ result.job_id }}";
               // valid_value = false;
                if(valid_value == true)
                {
                    $.ajax({
                        type: 'POST',
                        url: "/welcome/valid",
                        data: {
                        'name': candidate_name,
                        'email': candidate_email
                    },
                    success:function()
                    {
                        document.location.href = "/" + jobid + "/get-schedule";
                    },
                    error:function()
                    {
                        alert("The email id or name is not matched. Please enter the same email id and name that you used when applied for this role");
                    }
                    }
                    );
            }
            })
        </script>
    </body>
</html>
