<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Welcome
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add Interviewers</title>
    <link href="/static/css/qxf2_scheduler.css" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        p {
  word-break: break-word;
}
    </style>
   
</head>

<body style="background-color:powderblue;">
    {% include "header.html" %}
    <div class="container">
    <div class="bs-example">
        {% if 'job_id' in result %}
       
            <div class="panel panel-default" style="max-width:700px;margin-left:auto;margin-right:auto;">
                <div class="panel-heading " style="text-align: center;"></div>
                <div class="panel-body">
                    <p>Thank you for applying with us. To schedule an interview please fill the below details </p>
                    <form action="/{{ result.job_id }}/{{result.url}}/{{result.candidate_id}}/valid" method="POST">
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-4 control-label"><span style="color:red">*</span>Enter your name</label>
                                <div class="col-md-7">
                                    <input id="candidate-name" name="candidate-name" type="text" placeholder="John"
                                        class="form-control input-md" required>
                                </div>
                            </div>
            
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-md-4 control-label"><span style="color:red">*</span>Enter your email</label>
                                <div class="col-md-7">
                                    <input id="candidate-email" name="candidate-email" type="email"
                                        placeholder="johndoe@example.com" class="form-control input-md" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="save"></label>
                            <div class="col-md-8">
                                <input class="btn btn-success show-modal" type='submit' id='submit'
                                    value='Go for schedule'>
                            </div>
                        </div>
                </div>
            </div>
            </form>
        </div>
    </div>

    {% else %}
    <div class="panel panel-default" style="max-width:1200px;max-height: 650px;margin-left:auto;margin-right:auto;top:50px">
        <div class="panel-heading " style="text-align: center;">Scheduled Interview details</div>
        <div class="panel-body" id="resultDiv">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <label class="col-md-8" for="intervieweremail:">Interviewer
                            Email:{{ interview_result.interviewer_email}}</label>

                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <label class="col-md-8" for="interviewerstarttime:">
                            Interview date & time:{{ interview_result.interview_date}}<br></br>
                            Interview start time:{{ interview_result.interview_start_time}}<br><br>
                            Interview end time:{{ interview_result.interview_end_time}}</label>

                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <label class="col-md-8" for="roundduration:">Round
                            Duration:{{ interview_result.round_time}}</label>

                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body" >
                        <label class="col-md-12" for="rounddescription:">Round
                            Description:<p>{{ interview_result.round_description}}</p></label>

                    </div>
                </div>
            </div>      
            {% endif %}  
    </div>
</div>  
    
   
    <script>
        $("#submit").click(function () {
            var validValue = true;
            var candidate_name = $("#candidate-name").val();
            var candidate_email = $("#candidate-email").val();
            validValue &= candidate_name != "";
            validValue &= candidate_email != "";
            //var email_valid = (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/).test(candidate_email);
            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            var email_valid = re.test(candidate_email)
            validValue &= email_valid;
            //Printing appropriate message
            $('#err-name').remove();
            $('#err-email').remove();
            if (candidate_name == "") {
                $('#candidate-name').after('<span id="err-name" class="error" style="color:red">Name can\'t be empty</span>');
            }
            if (candidate_email == "") {
                $('#candidate-email').after('<span id="err-email" class="error" style="color:red">Email can\'t be empty</span>');
            }
            if (email_valid == false && candidate_email != "") {
                $('#candidate-email').after('<span id="err-email" class="error" style="color:red">Enter a valid email</span>');
            }
            var jobId = "{{ result.job_id }}";
            var candidateId = "{{ result.candidate_id }}"
            var url = "{{ result.url }}"
            //validValue = true;
            //Valdidation for name and email field
            if (validValue == true) {
                $.ajax({
                    type: 'POST',
                    url: "/" + jobId + "/" + url + "/" + candidateId + "/valid",
                    data: {
                        'candidate-name': candidate_name,
                        'candidate-email': candidate_email

                    },
                    success: function (result) {
                        //if (result.responseJSON.error.error == "NameError")
                        console.log(result)
                        if (result.error['error'] == "NameError") {

                            alert("Email or Name not found, please enter the same email or name that you used when applied for this role");
                            window.location.href = "/" + result.result['candidate_id'] + "/" + result.result['job_id'] + "/" + result.result['url'] + "/welcome";
                        }
                        if (result.error['error'] == "EmailError") {

                            alert("Email or Name not found, please enter the same email or name that you used when applied for this role");
                            window.location.href = "/" + result.result['candidate_id'] + "/" + result.result['job_id'] + "/" + result.result['url'] + "/welcome";
                        }
                        if (result.error['error'] == "OtherError") {

                            alert("Email or Name not found, please enter the same email or name that you used when applied for this role");
                            window.location.href = "/" + result.result['candidate_id'] + "/" + result.result['job_id'] + "/" + result.result['url'] + "/welcome";
                        }
                        if (result.error['error'] == "Success") {

                            window.location.href = "/" + result.result['job_id'] + "/get-schedule";
                        }

                    }

                }
                )
            }
            return false;
        })
    </script>  
    
    {% include "footer.html" %}

</body>

</html>