name: Interview-Scheduler
on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: SSH to EC2 instance
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.PROD_KEY }}
        port: ${{ secrets.port }}
        script:  | 
          cd qxf2/interview-scheduler
          git pull origin master
          mv maintenance_off.html maintenance_on.html
          pip install -r requirements.txt
          python migrate_db.py db migrate
          python migrate_db.py db upgrade
          sudo service gunicorn restart
          mv maintenance_on.html maintenance_off.html

